<div class="post">
  <article class="card">
    <div class="header flex-row justify-space-between">
      <h2 id="-single-post-title">{{post.title}}</h2>
      
    </div>
    <div class="card-body">
      {{post.body}}
    </div>
  </article>

  {{#if post.comments}}
  <section class="card">
  
   {{> comments post.comments }}
    <p><div>posted by {{post.User.username}} on {{format_date post.created_at}}</div></p>

  </section>
  {{/if}}

  <form class="new-comment-form">
    <div>
      <input type="hidden" id="post-id" value="{{post.id}}" />



      <label for="comment" class="form-label">Comment</label>
      <textarea type="text" name="comment" class="form-input"></textarea>

      <button type="submit" class="btn" id="submit-comment">submit</button>
    </div>
  </form>

</div>

<script src="/javascript/comment.js"></script>